/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

/* Share Button */
.menu {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .toogle {
  position: relative;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 2em;
  transition: 1.25s;
  z-index: 1000;
}

.menu.active .toogle {
  transform: rotate(360deg);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px #3a47d5, 0 0 0 10px #fff;
}

.menu li {
  position: absolute;
  list-style: none;
  left: 0;
  transition: 0.5s;
  transform: rotate(calc(360deg / 8 * var(--i)));
  transform-origin: 140px;
  scale: 0;
  transition-delay: calc(0.05s * var(--i));
}

.menu.active li {
  scale: 1;
}
.menu li a {
  position: relative;
  display: flex;
  transform: rotate(calc(360deg / -8 * var(--i)));
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  font-size: 1.75em;
  transition: 0.5s;
  color: var(--clr);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  transition: 0.5;
}
.menu li :hover {
  font-size: 1.5em;
}

/* TypeWritter */
.main {
  display: flex;
  width: 400px;
}
.text1 {
  margin-right: 15px;
}
.main .text {
  color: white;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.main .text2 {
  color: green;
}
.main .text2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: animate 5s steps(14) infinite;
  border-left: 4px solid green;
}
@keyframes animate {
  3% {
    left: 0;
  }
  30% {
    left: 100%;
  }
  80% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

/* Infinity Loop Animation */
.scroll-wrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 20px 0;
}

.scroll-track {
  display: inline-flex;
  animation: scroll-left 20s linear infinite;
}

.item {
  flex: 0 0 auto;
  margin: 0 30px;
  font-size: 24px;
  color: white;
  position: relative;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Image Slider */
.main-slider {
  overflow-x: auto;
  border-right: 100px solid black;
  border-left: 100px solid black;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.main-slider::-webkit-scrollbar {
  display: none;
}
img {
  margin-left: 10px;
}
.slide-img {
  display: inline-block;
  display: flex;
}
.slider {
  display: inline-block;
  display: flex;
  cursor: pointer;
}

/* Card Animation */
.card {
  position: relative;
  width: 450px;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
  transition: transform 1s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.imgBx img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.contentBx {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.card:hover .contentBx {
  opacity: 1;
}

.contentBx h1,
.contentBx p {
  transform: translateY(20px);
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.card:hover .contentBx h1,
.card:hover .contentBx p {
  transform: translateY(0);
  opacity: 1;
}

.contentBx h1 {
  margin-bottom: 10px;
  font-size: 24px;
  color: white;
}

.contentBx p {
  font-size: 16px;
  line-height: 1.5;
}
